  .edit-form {
    display: none;
    padding: 20px;
    border: 1px grey solid;
    width: 650px;
  }
  
  .edit-form-column {
    margin-right: 20px;
  }
  
  .edit-form__button {
    display: none;
  }
  
  .table {
    border-collapse: collapse;
  }
  
  .table-row-cell {
    border: 1px grey solid;
    padding: 10px;
  }
  
  .table-row-cell--btn {
    border: none;
  }
  
  .add-product-button {
    margin-top: 15px;
  }